.black-jack-text {
    font-family: 'BlackJack';
    font-size: 100px;
    margin: 0 0 20px 0;
}


.black-jack-small-text {
    font-family: 'BlackJack';
    font-size: 50px;
    margin: 0 0 40px 0;
}
